<!DOCTYPE html>
<html>
  <head>
    <title>Yelp Case</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Wecolme to Yelp Case!</h1>
      <p>Pearson Correlation<a href="/corr">here</a> to go home.</p>
      <p>User-Review Measure Metrics <a href="/user_review">here</a> to go home.</p>
      <p>Rank-Review Compare <a href="/compare">here</a> to go home.</p>
      <p>The Prediction Example<a href="/example">here</a> to go home.</p>
      <p>The result of different neigbors<a href="/plot">here</a> to go home.</p>
    </div>
  </body>
</html>
